<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="table-responsive mt-4 mt-xl-0">
                                <table class="table table-success table-striped table-nowrap align-middle mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Invoice</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                   <tbody>
                                        <tr *ngFor="let invoice of invoices">
                                        <td class="fw-medium">{{ invoice.id }}</td>
                                        <td>{{ invoice.invoice }}</td>
                                        <td>{{ invoice.amount }}</td>
                                        <td>{{ invoice.date }}</td>
                                        <td>
                                            <i
                                            [ngClass]="{
                                                'ri-checkbox-circle-line text-success': invoice.status === 'Subscribed',
                                                'ri-close-circle-line text-danger': invoice.status === 'Unsubscribed'
                                            }"
                                            class="align-middle"
                                            ></i>
                                            {{ invoice.status }}
                                        </td>
                                        <td>
                                            <div class="hstack gap-3 flex-wrap">
                                            <a href="javascript:void(0);" class="link-success fs-15"><i class="ri-edit-2-line"></i></a>
                                            <a href="javascript:void(0);" class="link-danger fs-15"><i class="ri-delete-bin-line"></i></a>
                                            </div>
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div><!--end row-->
