<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="table-responsive mt-4 mt-xl-0">
                                <table class="table table-success table-striped table-nowrap align-middle mb-0">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Invoice</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                   <tbody>
                                        <tr *ngFor="let invoice of invoices; let i = index">
                                            <td class="fw-medium">{{ invoice.id }}</td>

                                            <!-- INVOICE NUMBER -->
                                            <td>
                                            <ng-container *ngIf="editingRowIndex === i; else viewInvoice">
                                                <input [(ngModel)]="invoice.invoice" class="form-control form-control-sm" />
                                            </ng-container>
                                            <ng-template #viewInvoice>
                                                {{ invoice.invoice }}
                                            </ng-template>
                                            </td>
                                        
                                            <!-- AMOUNT -->
                                            <td>
                                            <ng-container *ngIf="editingRowIndex === i; else viewAmount">
                                                <input type="number" [(ngModel)]="invoice.amount" class="form-control form-control-sm" />
                                            </ng-container>
                                            <ng-template #viewAmount>
                                                {{ invoice.amount | currency: 'BRL' }}
                                            </ng-template>
                                            </td>
                                        
                                            <!-- DATE -->
                                            <td>
                                            <ng-container *ngIf="editingRowIndex === i; else viewDate">
                                                <input type="date" [(ngModel)]="invoice.date" class="form-control form-control-sm" />
                                            </ng-container>
                                            <ng-template #viewDate>
                                                {{ invoice.date | date: 'fullDate' }}
                                            </ng-template>
                                            </td>

                                            <!-- STATUS -->
                                            <td>
                                            <ng-container *ngIf="editingRowIndex === i; else viewStatus">
                                                <select [(ngModel)]="invoice.status" class="form-select form-select-sm">
                                                <option value="Subscribed">Subscribed</option>
                                                <option value="Unsubscribed">Unsubscribed</option>
                                                </select>
                                            </ng-container>
                                            <ng-template #viewStatus>
                                                <i
                                                [ngClass]="{
                                                    'ri-checkbox-circle-line text-success': invoice.status === 'Subscribed',
                                                    'ri-close-circle-line text-danger': invoice.status === 'Unsubscribed'
                                                }"
                                                class="align-middle"
                                                ></i>
                                                {{ invoice.status }}
                                            </ng-template>
                                            </td>
                                            <!-- ACTIONS -->
                                            <td>
                                            <div class="hstack gap-2 flex-wrap">
                                                <ng-container *ngIf="editingRowIndex === i; else actionButtons">
                                                <button class="btn btn-sm btn-success" (click)="saveInvoice(i)">Salvar</button>
                                                <button class="btn btn-sm btn-secondary" (click)="cancelEdit()">Cancelar</button>
                                                </ng-container>
                                                <ng-template #actionButtons>
                                                <a href="javascript:void(0);" class="link-success fs-15" (click)="editRow(i)">
                                                    <i class="ri-edit-2-line"></i>
                                                </a>
                                                <a href="javascript:void(0);" class="link-danger fs-15" (click)="deleteInvoice(invoice.id)">
                                                    <i class="ri-delete-bin-line"></i>
                                                </a>
                                                </ng-template>
                                            </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div>
    <!-- end col -->
</div><!--end row-->

